<style>
    .social-icons a, .social-icons a:visited, .social-icons a:hover, .social-icons a:active {
        text-decoration: none;
        margin-right: 10px;
    }
    .social-icons img {
        width: 35px;
        height: auto;
        vertical-align: middle;
    }
    .p {
        font-family: Poppins, Helvetica, "sans-serif"
    }

    .product-link-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;

        /* Shadow and border */
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .product-link-button:hover {
        background-color: #0056b3;
        cursor: pointer;
    }

</style>
<div class="p">
  <h1>Welcome to the TeamFeePay Official Clubshop</h1>
  <p>Within the following site, you can purchase a wide range of products, including;</p>
  <ul>
    <li>Shinpads</li>
    <li>Hats</li>
    <li>Scarves</li>
    <li>Mugs</li>
  </ul>
  <p>Our club shop feature is available to all member clubs and can be fully customised. Enjoy the freedom to advertise and sell anything you want to members plus access to additional merchandise that can be club branded through our third-party supplier with no need to hold stock. Items can be purchased quickly and securely online meaning no need to collect cash and less pressure on club admins when it comes to keeping track!</p>
  <a href="products.html" class="product-link-button">View Products</a>
  <p></p>
  <p><strong>Take your club shop online and enjoy hassle-free orders! </strong> <br /><p></p>Customise your club shop your way. Advertise and sell team wear, merchandise and tickets and keep track of all orders and payments online. No more manual processes or chasing payments!</p>
  <p>Below is the link to our official website, as well as all of our social media pages.</p>
  <div class="social-icons">
    <a href="https://teamfeepay.com/">www.teamfeepay.com</a>
    <br />
    <p></p>
    <a href="https://www.facebook.com/teamfeepay?locale=en_GB">
      <img src="https://static-00.iconduck.com/assets.00/facebook-icon-512x511-ircc9ves.png" alt="Facebook">
    </a>
    <a href="https://twitter.com/teamfeepay">
      <img src="https://static-00.iconduck.com/assets.00/twitter-icon-512x512-7o66iwws.png" alt="Twitter">
    </a>
    <a href="https://www.instagram.com/teamfeepay/">
      <img src="https://static-00.iconduck.com/assets.00/instagram-icon-512x511-1e54z7gr.png" alt="Instagram">
    </a>
    <a href="https://www.youtube.com/@teamfeepay9280">
      <img src="https://static-00.iconduck.com/assets.00/youtube-icon-512x512-nzpu9sn1.png" alt="YouTube">
    </a>
  </div>
</div>