<div id="<%= dom_id @order %>">
  <% @order.order_items.each do |item| %>
    <p>
      <strong>Product:</strong>
      <%= item.product&.name || 'Product not available' %>
    </p>
    <p>
      <strong>Quantity:</strong>
      <%= item.quantity %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= ActiveSupport::NumberHelper.number_to_currency(item.product.price * item.quantity / 100, unit: "£", precision: 2) %>
    </p>
  <% end %>
</div>
